@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Vi har inte haft råd att implementera GDPR än så vi hoppas att ingen frågar något om det. Vill du ha kvar dina pengar
    är det bäst att du inte gör det heller.</p>