@{
    ViewData["Title"] = "Privacy Policy";
}


<center>
    <h1>@ViewData["Title"]</h1>

    <p style="max-width: 600px; font-size: 1.2rem; line-height: 1.5; margin-bottom: 2rem;">
        Vi har inte haft råd att implementera GDPR än - vi spenderade alla
        pengarna på marknadsföring. Med det sagt, rekommenderar vi
        starkt att du INTE frågar om din data, om det är så att du vill du ha kvar dina pengar.
    </p>

    <p style="max-width: 600px; font-size: 1rem; line-height: 1.1; margin-bottom: 2rem;">
        Denna site använder sig av Säkerinlogg™, världens säkraste inloggningssystem. du kan vara heelt säker på att din
        data är i trygga händer! Ingen har någonson fått granska vår kod, så det är helt omöjligt att det finns några
        bakdörrar eller sårbarheter i vårt system! Vi på Suverän Bank™ tar din integritet och säkerhet på största
        allvar!*
    </p>

    <p style="max-width: 600px; font-size: 0.5rem; color: #979696;">
        <b>Disclaimer och friskrivningsklausul:</b> Denna site är ingen riktig bank och är endast skapad i
        utbildningssyfte och
        bör
        ses mer som en lekplats, ett konstverk eller en kommentar på den moderna internetanslutna bankvärlden. Vi på
        Suverän
        Bank™ tar inte ansvar för några förluster eller skador som kan uppstå genom att använda denna site, inklusive
        men
        inte begränsat till förlust av pengar, data eller tid. Använd denna site på egen risk och glöm inte att det är
        mycket bättre att swisha din lärare direkt än att sätta in riktiga pengar här!
    </p>

    <p style="max-width: 600px; font-size: 0.3rem; color: #979696;">
        * I mån av tid och pengar såklart. Något vi inte har mycket av för tillfället. Blir gärna kund. Och berätta för
        dina vänner om oss.
    </p>

</center>